<footer class="bg-white text-center text-sm mt-12 py-4" role="contentinfo">
    <ul class="flex flex-col md:flex-row justify-center list-none">
        <li class="md:mr-2">
            &copy; <a href="https://octobercms.com/" title="October CMS website">October CMS</a> 2013 - {{ "now"|date("Y") }} Alexey Bobkov &amp; Samuel Georges.
        </li>

        <li>
            Built with <a href="https://vuejs.org/" title="Vue.js, a progressive JavaScript framework">Vue.js</a>
            and <a href="https://tailwindcss.com" title="Tailwind CSS, a utility-first CSS framework">Tailwind CSS</a>.
        </li>
    </ul>
</footer>
