<nav id="js-nav-menu" class="nav-menu hidden lg:hidden">
    <ul class="my-0">
        <li class="pl-4">
            <a
                title="Blog" href="{{ 'blog'|page }}"
                class="nav-menu__item hover:text-blue-500 {% if this.page.id == 'blog' %}active text-blue-600{% endif %}">
                Blog
            </a>
        </li>
        <li class="pl-4">
            <a
                title="About" href="{{ 'about'|page }}"
                class="nav-menu__item hover:text-blue-500 {% if this.page.id == 'about' %}active text-blue-600{% endif %}">
                About
            </a>
        </li>
    </ul>
</nav>
