{% set posts = __SELF__.posts %}

{% for post in posts %}
    <hr class="border-b my-6">
    <div class="flex flex-col mb-4">
        <p class="text-gray-700 font-medium my-2">
            Posted
            {% if post.categories.count %} in {% endif %}
            {% for category in post.categories %}
                <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            {{ post.published_at|date('M d, Y') }}
        </p>

        <h2 class="text-3xl mt-0">
            <a
                href="{{ post.url }}"
                title="Read more - {{ post.title }}"
                class="text-gray-900 font-extrabold"
            >{{ post.title }}</a>
        </h2>

        <p class="mb-4 mt-0">{{ post.excerpt|raw }}</p>

        <a
            href="{{ post.url }}"
            title="Read more - {{ post.title }}"
            class="uppercase font-semibold tracking-wide mb-2"
        >Read</a>
    </div>
{% else %}
    <li class="no-data">{{ __SELF__.noPostsMessage }}</li>
{% endfor %}

{% if posts.lastPage > 1 %}
    <nav class="flex text-base my-8">
        {% if posts.currentPage > 1 %}
            <a class="bg-gray-200 hover:bg-gray-300 text-blue-darker rounded mr-3 px-5 py-3" href="{{ this.page.baseFileName|page({ (__SELF__.pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a>
        {% endif %}

        {% for page in 1..posts.lastPage %}
            <a class="bg-gray-200 hover:bg-gray-300 text-blue-darker rounded mr-3 px-5 py-3{{ posts.currentPage == page ? ' text-blue-800' : null }}" href="{{ this.page.baseFileName|page({ (__SELF__.pageParam): page }) }}">{{ page }}</a>
        {% endfor %}

        {% if posts.lastPage > posts.currentPage %}
            <a class="bg-gray-200 hover:bg-gray-300 text-blue-darker rounded mr-3 px-5 py-3" href="{{ this.page.baseFileName|page({ (__SELF__.pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a>
        {% endif %}
    </nav>
{% endif %}
